<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daniel Samuels - Software developer based in Cambridge</title>
    <link rel="stylesheet" href="/static/css/screen.css">

    {% if page.canonical %}
        <link rel="canonical" href="{{ page.canonical }}">
    {% endif %}
</head>
<body>
    <header>
        <div>
            <a href="#">Daniel Samuels</a>
            <small>Software developer based in Cambridge</small>
        </div>

        <nav>
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/words/">Words</a>
            <a href="/">Projects</a>
            <a href="/">Contact</a>
        </nav>
    </header>
