@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);

$flat-blue: #3498db;
$text-color: #000;

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 0;

    time + & {
        margin-top: -10px;
    }
}

ul {
    padding-left: 20px;
}

p {
    margin-top: 0;

    img {
        width: 100%;
    }
}

pre, code {
    font-size: 14px;
}

time {
    font-size: 14px;
}

li + li {
    margin-top: 14px;
}

a {
    color: $text-color;
    border-bottom: 1px dashed $text-color;
    text-decoration: none;
    padding-bottom: 2px;
    transition: border-bottom-color 0.25s;

    &:hover, &:active {
        border-bottom-color: $flat-blue;
    }
}

header {
    $font-color: $text-color;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;

    font-weight: 600;

    padding: 30px;
    // background: rgba(#fff, 0.925);
    border-bottom: 1px solid rgba($flat-blue, 0.3);
    font-size: 16px;

    color: $font-color;

    .scroll-position {
        display: block;
        position: absolute;
        height: 1px;
        width: 0;
        background-color: $flat-blue;
        bottom: -1px;
        left: 0;
    }

    div {
        float: left;
        line-height: 1;

        a {
            display: inline-block;
            width: 100%;
            border: none;
        }

        small {
            color: #1a1a1a;
            font-weight: 300;
        }
    }

    nav {
        float: right;

        a {
            line-height: 32px;
            border-bottom: 1px dashed #fff;
        }
    }

    a {
        color: $font-color;
        text-decoration: none;

        & + a {
            margin-left: 15px;
        }
    }
}

#content-wrapper, #content-dupe {
    margin: 0 auto;
    padding: 125px 0 30px;
    width: 80%;
    max-width: 600px;
    font-size: 22px;
    line-height: 1.5;
    z-index: 1;
}

#content-dupe {
    position: fixed;
    max-width: 620px;
    height: 95px;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 10px;
    overflow-y: hidden;
    background-color: #FFF;

    color: transparent;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

    a {
        color: inherit;
        border-bottom-color: rgba(0, 0, 0, 0.08);
    }

    .expander {
        padding-top: 125px;
    }
}

#backdrop {
    position: absolute;
    top: 95px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;

    #contents {
        animation-name: backdrop-scroll;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        img {
            transition: filter 0.35s;
            filter: grayscale(1);

            &:hover {
                filter: grayscale(0);
            }
        }

        .row {
            height: 94px;
        }
    }

    img {
        margin: 20px;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        pointer-events: none;

        img {
            position: absolute;
            top: 50%;
            left: 50%;

            // min-width: 200px;
            max-width: 90%;
            // min-height: 200px;
            max-height: 90%;

            transform: translateX(-50%) translateY(-50%);
            // height: calc(80% - 95px);
            margin: 0;
            border-radius: 50%;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        }
    }
}

@keyframes backdrop-scroll {
    from {
        transform: translateX(-273px);
    }

    to {
        transform: translateX(0);
    }
}


@media only screen and (max-width: 736px) {
    #content-wrapper {
        font-size: 18px;
        padding-top: 160px;
        width: calc(100% - 60px);
    }

    #content-dupe {
        display: none;
    }

    header {
        text-align: center;
        background: #fff;

        div, nav {
            width: 100%;
        }

        nav {
            float: left;
            margin-top: 12px;
        }
    }

    #backdrop {
        top: 139px;
    }
}

@media only screen and (max-width: 383px) {

    #backdrop {
        top: 171px;
    }

    #content-wrapper {
        padding-top: 201px;
    }
}
