@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300,400);

$flat-blue: #3498db;
$text-color: #000;

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin-bottom: 0;

    time + & {
        margin-top: -10px;
    }
}

p {
    margin-top: 0;
}

pre, code {
    font-size: 14px;
}

time {
    font-size: 14px;
}

li + li {
    margin-top: 14px;
}

a {
    color: $text-color;
    border-bottom: 1px dashed $text-color;
    text-decoration: none;
    padding-bottom: 2px;
    transition: border-bottom-color 0.25s;

    &:hover, &:active {
        border-bottom-color: $flat-blue;
    }
}

header {
    $font-color: $text-color;

    position: fixed;
    width: 100%;
    top: 0;

    font-weight: 600;

    padding: 30px;
    background: rgba(#fff, 0.925);
    border-bottom: 1px solid rgba($flat-blue, 0.3);
    font-size: 16px;

    color: $font-color;

    .scroll-position {
        display: block;
        position: absolute;
        height: 1px;
        width: 0;
        background-color: $flat-blue;
        bottom: -1px;
        left: 0;
    }

    div {
        float: left;
        line-height: 1;

        a {
            display: inline-block;
            width: 100%;
            border: none;
        }

        small {
            color: #1a1a1a;
            font-weight: 300;
        }
    }

    nav {
        float: right;

        a {
            line-height: 32px;
            border-bottom: 1px dashed #fff;
        }
    }

    a {
        color: $font-color;
        text-decoration: none;

        & + a {
            margin-left: 15px;
        }
    }
}

#content-wrapper {
    margin: 0 auto;
    padding: 125px 0 30px;
    width: 80%;
    max-width: 600px;
    font-size: 22px;
    line-height: 1.5;
}
